@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.grad-ient {
  background: conic-gradient(
    from 187.69deg at 50% 50%,
    #7b4397 0deg,
    #e54331 270deg,
    #7b4397 359.81deg,
    #7b4397 360deg
  );
}

.show-img {
  visibility: visible;
}

.hide-img {
  display: none;
}

@layer components {
  .body-mob-med {
    @apply font-medium text-base text-center;
  }

  .body-web-med {
    @apply font-medium text-2xl text-left;
  }
  .headings {
    @apply text-primary-col text-4xl md:text-5xl font-bold leading-10 text-center md:text-left;
  }
}
